body{
    margin:0;
    font-family:'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.topbar_container{
    max-width:1920px;
    background:#000080;
    display:block;
}

.topbar_content{
    display:flex;
}

.topbar_left{
    order:1;
    width:50%;
}

.topbar_right{
    order:2;
    width:50%;
}

ul.secondary_menu_content{
    text-align: right;
    margin:10px 0;
}

.secondary_menu_item{
    display: inline-block;
    padding:0 10px;
    color:#fff;
}

a.btn{
    display: inline-block;
    padding:10px 20px;
    color:#fff;
    background:#3365B7;
}

.navbar_container{
    display:block;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.navbar_content{
    display:flex;
}

.logo_container{
    order:1;
    width:30%;
}

.main_menu_container{
    order:2;
    width:70%;
    text-align:right;
}

li.main_menu_item{
    list-style:none;
    display:inline-block;
    padding:0 10px;
    font-size:18px;
}

li.responsive_nav_item{
    display:block;
    padding:5px 0;
    color:#fff;
}

.responsive_nav{
    position: fixed;
    background: #000080;
    top: 10%;
    float: right;
    right: 0px;
    z-index:999;
    display:none;
}

.responsive_nav ul{
    padding-right:40px;
    width:fit-content;
}

#header_nav_section{
    position:fixed;
    width:100%;
    z-index:999;
}

#main_content{
    position:relative;
    background:#f5f5f5;
}

.navbar_container{
    background:#fff;
}

.content_section{
    padding:20px;
}

.hidden_menu{
    display:none;
}

.enable_menu{
    display:block;
}

.logo_container{
    padding:20px;
}

.navbar{
    background:#fff;
}

.mobile_navbar{
    padding:10px;
    z-index:999;
    position:fixed;
    right:0;
    display:none;
}

.navbar_close::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f0c9";
    font-size:35px;
}

.navbar_open::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f00d";
    font-size:35px;
}

.main_content{
    height:920px;
}

.content_section p{
    text-align:center;
    font-size:20px;
    padding:100px;
}

footer p{
    margin:0;
    text-align:center;
    color:#fff;
}

footer{
    background:#000080;
    padding:15px;
}

/****RESPONSIVE****/
@media (max-device-width:800px){
    #header_nav_section{
        display:none;
    }

    .mobile_navbar{
        display:block;
    }
}